@model UpdateStorytellerViewModel

@{
    ViewData["Title"] = "Update storyteller";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateStoryteller" asp-controller="StorytellerManager">
            @Html.AntiForgeryToken()
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="About"></label>
                <input asp-for="About" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="IsValidImage"></label>
                <input asp-for="IsValidImage" class="form-control" />
            </div>
            <div class="form-group">
                <dl>
                    <dt>
                        <label asp-for="OldStorytellerImage"></label>
                        <img src="~/imagesStorytellers/@Model.OldStorytellerImage" style="height:300px;width:300px" />
                    </dt>
                </dl>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
