@model IEnumerable<Storyteller>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>
<div class="row">

    @foreach (Storyteller item in Model)
    {
        <div class="col-md-4">
            <a2>
                @item.Name
                <img src="~/imagesStorytellers/@Url.Content(item.Image)" style="width:150px; height:150px;" />

            </a2><br />
        </div>
    }

</div>