@model IEnumerable<Storyteller>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (Storyteller item in Model)
    {
        <a2>
            @item.Name
        </a2><br />
    }
</div>
