@model IEnumerable<Storyteller>

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="get">
    <div id="searchInput">
        <input type="text" name="search" />
        <input type="submit" value="Search" />
    </div>

    <h1 class="display-4">Welcome</h1>
    <div class="row">

        @foreach (Storyteller item in Model)
        {
            <div class="col-md-4">
                <a asp-controller="StorytellerProfile" asp-route-id="@item.Id">
                    @item.Name
                    <img src="~/imagesStorytellers/@Url.Content(item.Image)" style="width:150px; height:150px;" />
                </a>
            </div>
        }

    </div>
</form>
