<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoryHub</title>

    <!--CSS-->
    <link rel="stylesheet" href="~/css/PersonalStyles/MainStyles.css">
    <link rel="stylesheet" href="~/css/PersonalStyles/AccountManageStyles.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-container">
                <div class="nav-container-element">
                    <a class="titleReference" href="/">StoryHub</a>
                </div>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            &copy; 2021 - StoryHub - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <br />
            UI by <a href="https://github.com/Ulyanov-programmer">Ivan Ulyanov</a>.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
