@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="~/css/PersonalStyles/RegisterStyles.css">

<form class="Form" id="account" method="post">
    <h4 class="greeting">Log in with the created account</h4>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="Form-inputContainer">
        <label asp-for="Input.UserName"></label>
        <input asp-for="Input.UserName" />
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="Form-inputContainer">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="Form-inputContainer">
        <div class="checkbox">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>
    <div class="Form-inputContainer">
        <button type="submit" class="submitButton">Log in!</button>
    </div>
    <div class="Form-inputContainer">
        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        <br />
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register now!</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
