@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<link rel="stylesheet" href="~/css/MainStyles.css">

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>