@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/RegisterStyles.css">

<form class="Form" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
    <h4 class="greeting">Create your account!</h4>
    <br>
    <div class="Form-inputContainer">
        <!-- Возможно label, это можно убрать. -->
        <label asp-for="Input.Name"></label>
        <input asp-for="Input.Name" />
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <div class="Form-inputContainer">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="Form-inputContainer">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="Form-inputContainer">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="Form-inputContainer">
        <label asp-for="Input.About"></label>
        <input asp-for="Input.About" />
        <span asp-validation-for="Input.About" class="text-danger"></span>
    </div>
    <div class="Form-inputContainer">
        <label asp-for="Input.Gender"></label>
        <input value="true" asp-for="Input.Gender" />
        <span asp-validation-for="Input.Gender" class="text-danger"></span>
    </div>
    <div class="Form-inputContainer">
        <label asp-for="Input.Age"></label>
        <input type="number" asp-for="Input.Age" />
        <span asp-validation-for="Input.Age" class="text-danger"></span>
    </div>
    <div class="Form-inputContainer">
        <label class="fileLabel" for="file" asp-for="Input.Image">
            <span asp-validation-for="Input.Image">Your avatar...</span>
        </label>
        <input class="inputFile" id="file" asp-for="Input.Image" type="file" name="files">
    </div>
    <button class="submitButton" type="submit">Register!</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}