@model Storyteller 

@{
    ViewData["Title"] = Model.Name;
}

<div>
    <h1>@Model.Name</h1>
    <img src="~/imagesStorytellers/@Model.Image" style="width:150px;height:150px;"/>
    <p>@Model.About</p>
    <p>@Model.Folowers</p>
</div>

