@import "../PersonalStyles/MainStyles.css";

main {
    h2 {
        display: none;
    }

    div {
        margin: 0px 5%;

        h4 {
            display: none;
        }

        .row {
            display: flex;

            .col-md-3 {
                position: absolute;
                top: 10%;
                left: 2%;
                border: solid 1.5px;

                width: max-content;
                height: max-content;

                margin: 0px;

                .flex-column {
                    display: flex;
                    flex-flow: column nowrap;
                    flex: 1 0 auto;
                    height: max-content;

                    .nav-item {
                        display: flex;

                        background-color: #96dcdc;

                        :hover {
                            background-color: rgb(230, 230, 230);
                        }

                        .nav-link {
                            font-size: 25px;
                            font-weight: 600;
                            padding: 5% 1%;
                            width: 100%;
                            text-align: center;
                            color: black;
                        }
                    }
                }
            }

            .col-md-9 {
                .Form {
                    flex: 0 1 auto;

                    .Form-inputContainer {
                        width: 100%;

                        .imageContainer {
                            img {
                                height: 300px;
                                width: 90%;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }

            /* Styles for AccountManage_Other.html */

            .col-md-6 {
                margin: 0px 0% 0px 15%;
                form {
                    .text-danger {
                        color: black;
                        margin-left: 0px;
                    }

                    /* div container */
                    .form-group {
                        margin: 5% 0%;

                        :focus {
                            background-color: #96dcdc;
                        }

                        /* input in form */
                        .form-control {
                            padding: 5px 10px;
                            font-size: 20px;

                            border: solid black 1.5px;

                            width: 100%;
                        }

                        /* doesn't work with submit button */


                        .text-danger {
                            font-size: 25px;
                            color: red;
                        }
                    }

                    .btn {
                        font-size: 23px;
                        padding: 10px 10px;
                        margin-top: 5%;
                        width: 100%;
                        background-color: gray;
                        color: white;
                    }
                }

                p {
                    max-width: 50%;
                    a {
                        color: red;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}