@import "../NullStyle.css";

$WindowHoverColor: #96dcdc;
$BackColor: #dbdbdb;

$PostFontFamily: "Georgia";

body {
	font-family: arial;
	display: block;
	flex-direction: column;
	background-color: $BackColor;
	font-size: 20px;
	min-height: 100vh;
	height: 100%;

	header{
		margin-bottom: 10px;

		box-shadow: 0 0 15px rgba(0,0,0,0.3);
		position: sticky;
		top: 0;
		z-index: 1;
		
		background-color: $BackColor;
		
		nav{
			display: flex;
			flex-grow: 1;
			justify-content: space-between;

			.nav-container{
				display: flex;
				:hover{
					background-color: $WindowHoverColor;
				}
				.nav-container-element{
					display: flex;
					align-items: center;

					padding: 11px 11px;
					
					:active{
						background-color: $WindowHoverColor;
					}
					
					.titleReference{
						font-size: 25px;
						font-weight: 600;
						text-decoration: none;
						color: black;
					}
					.nav-container--ref{
						text-decoration: none;
						color: black;
					}
				}
				form{
					display: flex;
					background-color: rgb(255, 192, 192);

					.navButton{
						padding: 0px 5px;
						background-color: rgb(255, 192, 192);
						font-weight: 600;
						font-size: 17px;
					}
				}
				
			}
		}
	}
	main{
		display: flex;
		justify-content: center;
		flex-grow: 1;

		margin-bottom: 5%;
		min-height: max-content;

		.main-contentForm{
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			flex-grow: 1;

			.main-contentForm-searchButtons{
				display: flex;
				align-self: center;

				margin-bottom: 2%;
				margin-left: 5%;
				:hover{
						background-color: $WindowHoverColor;
					}

				.inputText{
					font-size: 15px;
					padding: 5px 15px;
				}
				.inputSubmit{
					padding: 0px 8px;
					font-size: 15px;

				}
			}
			.errorMessage{
				align-self: center;
			}
			.main-contentForm-content{
				display: inline-flex;
				flex-direction: column;

				.contentForm-user{
					border-bottom: 3px inset white ;
					a{
						display: flex;
						padding: 15px;

						.contentForm-user-header{

						}
						.contentForm-user-main{
							font-family: $PostFontFamily;

							padding-left: 10px;

							display: flex;
							flex-direction: column;

							color: black;
						}
					}
				}
			}
		}
	}
	footer{
		box-shadow: 0 0 15px rgba(0,0,0,0.3);

		min-height: 7%;

		padding-top: 10px;

		font-size: 15px;
	}
}
